/********************************/
/*                              */
/*           GENERALE           */
/*                              */
/********************************/

html{
	font-family: 'Quotable';

}


body{

	display: flex;
	justify-content: center;
	background-color: #fc402e;
		font-size: 62.5%;
}

@font-face{
	font-family: 'Quotable'; 
	src: url("../fonts/Quotable.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

.all{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


/********************************/
/*                              */
/*             TITRE            */
/*                              */
/********************************/
h1{
	font-size: 4rem;
}

.titre{
	display: flex;
	align-items: center;

}

button.restartTitle[title]:hover::before{

content: attr(title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-family: sans-serif;
  white-space: nowrap;
}

button.restartTitle[title]:hover::after{
	font-size: 2rem;
	content: '';
	background-color: yellow;
}


/********************************/
/*                              */
/*          CONTAINER           */
/*                              */
/********************************/

.container_main{
	box-shadow: 1px 1px 12px #313231;

	border: thick double black;
	border-radius: 0.3rem;
	display: flex;
	width: 500px;
	height: 150px;

}

.container{

	display: flex;
	justify-content: center;
	align-items: center;
}

.display{
	font-size: 8rem;
/*	align-items: center;*/
	width: 400px;
}

.controls{

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.but{

	width: 100px;
	height: 50px;
}

.addTime{

	background-color: none;
}

/********************************/
/*                              */
/*            BUTTON            */
/*                              */
/********************************/

.bt{
	font-family: 'Quotable';
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}


.bt:focus{
	outline:0;
}
.add, .less{

	font-size: 2.5rem;
}

.add:hover, .less:hover{
	font-size: 5rem;
}
.start{

	font-size: 2.5rem;
}

.start:hover{
	font-size: 3rem;
}


